priority workflo (1).json
{
  "name": "priority workflo",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "5610ebee-aab7-499b-ad46-8fb718fb9e87",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appWfAWelLxDbcUC0",
          "mode": "list",
          "cachedResultName": "coustomer support ticket ",
          "cachedResultUrl": "https://airtable.com/appWfAWelLxDbcUC0"
        },
        "table": {
          "__rl": true,
          "value": "tblP4TI6t5UrGR1zY",
          "mode": "list",
          "cachedResultName": "tickets",
          "cachedResultUrl": "https://airtable.com/appWfAWelLxDbcUC0/tblP4TI6t5UrGR1zY"
        },
        "filterByFormula": "AND(   {Status}=\"Open\",   {Priority}=BLANK() )",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "fc34fb12-fd02-44bb-9192-f2f01db63366",
      "name": "Search records",
      "credentials": {
        "airtableTokenApi": {
          "id": "qpzOwFTqsBhsQrmz",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const subject = ($json.fields[\"Email Subject\"] || \"\").toLowerCase();\nconst body = ($json.fields[\"Email Body\"] || \"\").toLowerCase();\n\nconst text = subject + \" \" + body;\n\nlet priority = \"Low\";\n\nif (\n  text.includes(\"payment\") ||\n  text.includes(\"money deducted\") ||\n  text.includes(\"hacked\") ||\n  text.includes(\"security\") ||\n  text.includes(\"service down\")\n) {\n  priority = \"High\";\n} else if (\n  text.includes(\"login\") ||\n  text.includes(\"password\") ||\n  text.includes(\"access\") ||\n  text.includes(\"technical\")\n) {\n  priority = \"Medium\";\n}\n\nreturn {\n  recordId: $json.id,\n  priority: priority\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "1bd3d48f-0a38-4de3-a8d9-d96dc5774288",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appWfAWelLxDbcUC0",
          "mode": "list",
          "cachedResultName": "coustomer support ticket ",
          "cachedResultUrl": "https://airtable.com/appWfAWelLxDbcUC0"
        },
        "table": {
          "__rl": true,
          "value": "tblP4TI6t5UrGR1zY",
          "mode": "list",
          "cachedResultName": "tickets",
          "cachedResultUrl": "https://airtable.com/appWfAWelLxDbcUC0/tblP4TI6t5UrGR1zY"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email Sent": false,
            "id": "={{ $json.recordId }}",
            "Priority": "={{ $json.priority }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Ticket ID",
              "displayName": "Ticket ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Customer Name",
              "displayName": "Customer Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Sender Email",
              "displayName": "Sender Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Email Subject",
              "displayName": "Email Subject",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Email Body",
              "displayName": "Email Body",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "TECHNICAL",
                  "value": "TECHNICAL"
                },
                {
                  "name": "BILLING",
                  "value": "BILLING"
                },
                {
                  "name": "ACCOUNT",
                  "value": "ACCOUNT"
                },
                {
                  "name": "GENERAL",
                  "value": "GENERAL"
                },
                {
                  "name": "OTHER",
                  "value": "OTHER"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Assigned Team",
              "displayName": "Assigned Team",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Open",
                  "value": "Open"
                },
                {
                  "name": "In Progress",
                  "value": "In Progress"
                },
                {
                  "name": "Ressolved",
                  "value": "Ressolved"
                },
                {
                  "name": "Closed",
                  "value": "Closed"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Received At",
              "displayName": "Received At",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Email Sent",
              "displayName": "Email Sent",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Priority",
              "displayName": "Priority",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "High",
                  "value": "High"
                },
                {
                  "name": "Medium",
                  "value": "Medium"
                },
                {
                  "name": "Low",
                  "value": "Low"
                }
              ],
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        624,
        0
      ],
      "id": "19a584b0-8bd6-4782-8b09-272e02aa9695",
      "name": "Update record",
      "credentials": {
        "airtableTokenApi": {
          "id": "qpzOwFTqsBhsQrmz",
          "name": "Airtable Personal Access Token account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Search records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Update record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "86446b30-95a5-4b61-b0f7-01e979664fe7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "780088bc3c85c24431cefbee01ff7615e134301b08b5665be7c2dd214889ba6a"
  },
  "nodeGroups": [],
  "id": "omYumhjI3nSLJnjQ",
  "tags": []
}